/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#seaPane {
	-fx-background-image:url('file:///../resources/sea-background.jpg');
	-fx-background-repeat:no-repeat;
	-fx-background-size:540px 460px;
}

#seaButton {
	-fx-background-image:white;
	-fx-opacity:0.1;
	-fx-background-size:50px 50px;
	-fx-background-repeat:no-repeat;
}

#opponentPane {
	-fx-background-color:#173616;
	-fx-border-width:0 0 10 0;
	-fx-border-color:#2B6D2F;
}


#radarPane {
	-fx-background-image:url('file:///../resources/radar-background.gif');
	-fx-background-repeat:no-repeat;
	-fx-background-size:400px 400px;
	
}

#radarButton {
	-fx-background-color:#1E4C1D;
	-fx-border-color:#2B6D2F;
	-fx-border-width:2px;
	-fx-opacity:0.7;
	-fx-background-size:50px 50px;
}

#radarButton:selected {
	-fx-background-image:url('file:///../resources/cross-hair2.png');
	-fx-background-color:#59EF00;
	-fx-background-size:50px 50px;
	-fx-opacity:0.5;
}

#shootPane {
	-fx-background-color:#173616;
}

#selectWeaponPane {
	-fx-background-color:#173616;
}

#shootButton {
	-fx-border-width:7px;
	-fx-border-color:white;
}

#hitCoor {
	-fx-background-image:url('file:///../resources/hit.jpg');
	-fx-background-size:50px 50px;
	-fx-opacity:0.8;
}

#missCoor {
	-fx-background-image:url('file:///../resources/miss.jpg');
	-fx-background-size:50px 50px;
	-fx-opacity:0.8;
}

#weaponRemainLabel {
	-fx-background-color: red;
	-fx-text-fill:white;
}

#missCoorGameBoard {
	-fx-background-image:url('file:///../resources/cross_gameBoard.png');
	-fx-background-size:50px 50px;
	-fx-opacity:0.4;
}

#shipBoardHeader {
	-fx-background-image:url('file:///../resources/battleship_header.jpg');
	-fx-background-repeat:no-repeat;
	-fx-background-size:540px 150px;
}

#shipBoardPane {
	-fx-background-image:url('file:///../resources/sea-background.jpg');
	-fx-background-repeat:no-repeat;
	-fx-background-size:540px 770px;
}

#reverseButton {
	-fx-font: 20px "Serif";
    -fx-padding: 5;
}

#shipBoardButton_ENTERED {
	-fx-background-color:green;
	-fx-opacity:0.5;
}

#shipBoardButton_INVALID {
	-fx-background-color:red;
	-fx-opacity:0.5;
}

#menuBoard {
	-fx-background-image:url('file:///../resources/cover.jpg');
}

#cover-button {
	-fx-opacity:0.7;
	-fx-font-size:30px;
}

#winLabel {
	-fx-text-fill:#F8E319;
	-fx-font-size:50px;
	-fx-font-weight:bold;
}

#loseLabel {
	-fx-text-fill:#BBBBBB;
	-fx-font-size:50px;
	-fx-font-weight:bold;
}

#statusLayer {
	-fx-background-color:black;
	-fx-opacity:0.4;
}

#optionBoard {
	-fx-background-image:url('file:///../resources/sea-background.jpg');
	-fx-background-repeat:no-repeat;
	-fx-background-size:540px 920px;
}

#optionButton {
	-fx-font-size:30px;
}

#destroyedShipLayer {
	-fx-opacity:0.2;
}
